<div class="main-container">
    <div class="title-container">
        <h3>Credit Card Calculator</h3>
    </div>
    <table>
        <thead>
            <tr style="font-weight: bold;">
                <th>Purchase Type</th>
                <th>Estiomated Monthly Spend</th>
                <th>%</th>
                <th>Potential Verizon Dollars Earned</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Gas</td>
                <td><input type="number" name="gas" [(ngModel)]="gas_amt" (input)="calculatePercentageAmt()" min="0"></td>
                <td>{{percent["gas"]}} %</td>
                <td>$ {{pvde_gas_amt}}</td>
            </tr>
            <tr>
                <td>Grocery Store</td>
                <td><input type="number" name="grocery_store" [(ngModel)]="grocery_amt"
                        (input)="calculatePercentageAmt()" min="0"></td>
                <td>{{percent["grocery"]}} %</td>
                <td>$ {{pvde_grocery_amt}}</td>
            </tr>
            <tr>
                <td>Dining</td>
                <td><input type="number" name="dining" [(ngModel)]="dining_amt" (input)="calculatePercentageAmt()" min="0">
                </td>
                <td>{{percent["dining"]}} %</td>
                <td>$ {{pvde_dining_amt}}</td>
            </tr>
            <tr>
                <td>Verizon</td>
                <td><input type="number" name="verizon" [(ngModel)]="verizon_amt" (input)="calculatePercentageAmt()" min="0">
                </td>
                <td>{{percent["verizon"]}} %</td>
                <td>$ {{pvde_verizon_amt}}</td>
            </tr>
            <tr>
                <td>Other</td>
                <td><input type="number" name="other" [(ngModel)]="other_amt" (input)="calculatePercentageAmt()" min="0"></td>
                <td>{{percent["other"]}}%</td>
                <td>$ {{pvde_other_amt}}</td>
            </tr>
            <tr style="background-color: black; color: white;">
                <td>Total</td>
                <td>$ {{total_amt}}</td>
                <td></td>
                <td>$ {{pvde_total_amt}}</td>
            </tr>
        </tbody>
    </table>
</div>